network:
    ethernets:
        eth0:
            addresses: [{{ host_ip }}/24]
            gateway4: {{ all_vault_network_gateway }}
            nameservers:
                addresses: [1.1.1.1, 1.0.0.1]
            dhcp4: false
            dhcp6: false
    version: 2
